.slider
    .slider-box
        .slider__title Мой первый слайдер на jquery
        .slider__content
            ul.slider__list
                li.slider__item.active
                    img(src="../img/card-1.jpg", alt="")
                li.slider__item
                    img(src="../img/card-2.jpg", alt="")
                li.slider__item
                    img(src="../img/card-3.jpg", alt="")
    .slider__button
        .slider__button_left Назад
        .slider__button_right Вперёд